* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
    align-content: center;
    min-height: 100vh;
	flex-direction: column;
	font-family: 'Segoe';
	background-color: yellow;
}

.card-container {
	width: 320 px;
	background-color: white;
	padding: 16px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 6px 6px 0 black;



}

.card-image {
	width: 100%;
}

h1 {
	text-align: center;
}

#mini-body p {
	text-align: center;
	font-size: 16px;
}
